// app global css in SCSS form

body{
  //background: url('../assets/bg-1.jpeg');
  //background: url('../assets/bg-2.jpeg');
  background: url('../assets/bg-3.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}