// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// Estilo v1
// $primary  : #992625;
// $secondary : #faecca;
// $tertiary  : #e1ad6d;
//$tertiary  : #992625;
// $actions-background: #9926252e;

//Estilo v2
//27e8a7 verde; 
//F76E11 laranja
//00B4D8 azul
$primary  : #27e8a7;
$secondary : #28292f; //#444857
$tertiary  : #e1ad6d;
$menu-background: #1e1f26; 

//#ffec9e
//#ffdd8a
//#e1ad6d
//#c99157
//#d2aa77
$accent    : #D5A15F;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
